.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  color:white;
  
  align-items: center;
  .loginCard {
    display: flex;
    border-radius: 15px;
    box-shadow: -2px 9px 53px 7px rgba(0,0,0,0.35);

    .right {
      padding: 60px 30px;
      background-color: dodgerblue;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      display: flex;
      align-items: center;
     h4{
      font-size: 38px;
     }
    }
    .left {
      padding: 60px 30px;
      background-color: #e0e0e0;
      
      display: flex;
      border-start-end-radius: 15px;
      border-end-end-radius: 15px;
      
      
      .input {
        display: flex;
        justify-content: center;
        
      }
      .linkContainer{
        display: flex;
        justify-content: center;
        position: relative;
        .link{
          font-size: larger;
          display: flex;
          color: #000;
          
          a{
            color: dodgerblue ;
            font-size: small;
            text-decoration: none;
            position: relative;
            bottom: 5px;
          }
        }
      }
    }
  
  }
}
.button {
  display: flex;
  justify-content: center;
  padding: 30px;
}