.PoliceComplaintContainer{
    padding: 10px 220px;
    display: flex;
}
.complaintitem{
    
    flex: 2;
}
.upload{
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}